<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treino</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>Pesquisa Universal</header>
    <main>
        <article>
            <h2 style="text-align: center;">Principais Navegadores da Atualidade</h2>
            <h3>Google Chrome</h3>
            <section><p>O Google Chrome é um navegador de internet, desenvolvido pela companhia Google com visual minimalista. Foi lançado pela primeira vez em setembro de 2008, para o Microsoft Windows, e mais tarde foi portado para Linux, Mac, iOS e Android. Compilado com base em componentes de código licenciado como o motor de renderização o WebKit. O Google Chrome também é o principal componente do Chrome OS onde funciona como uma plataforma para executar aplicativos da web e sua estrutura de desenvolvimento de aplicações.</p>
            <p>Em 2 de setembro de 2008 foi lançado a primeira versão ao mercado, sendo uma versão beta. Finalmente, em 11 de dezembro de 2008 foi lançada a primeira versão estável ao público em geral. O navegador atualmente está disponível, em mais de 51 idiomas, para as plataformas Windows, Mac OS X, Android, iOS, Ubuntu, Debian, Fedora e openSUSE.</p>
            <p>Atualmente, o Chrome é o navegador mais usado no mundo, com 67,15% dos usuários de Desktop, contra 9,70% do Safari e 9,18% do Mozilla Firefox, segundo a StatCounter. Além de desenvolver o Google Chrome, o Google ainda patrocina o Mozilla Firefox, um navegador desenvolvido pela Fundação Mozilla. Até julho de 2018, o navegador Google Chrome permanece na liderança como o navegador mais usado no mundo.</p></section>

            <h3>Mozilla Firefox</h3>
            <section><p>Mozilla Firefox é um navegador livre e multiplataforma desenvolvido pela Mozilla Foundation com ajuda de centenas de colaboradores. A intenção da fundação é desenvolver um navegador leve, seguro, intuitivo e altamente extensível. Baseado no componente de navegação da Mozilla Application Suite, o Firefox tornou-se o objetivo principal da Mozilla Foundation. Cerca de 40% do código do programa foi totalmente escrito por voluntários.</p>
            <p>Com mais de 25 milhões de downloads nos primeiros 99 dias após o lançamento da versão 1.0, o Firefox se tornou uma das aplicações de código livre mais usadas por usuários domésticos. A marca de 100 milhões de downloads foi atingida em 19 de outubro de 2005, antes de completar o primeiro ano da versão 1.0. Com cerca de 17 mil extensões disponíveis em 26 de julho de 2012, as extensões ultrapassaram a marca de 3 bilhões de downloads.</p>
            <p>O Firefox destacou-se como alternativa ao Internet Explorer e reativou a chamada guerra dos navegadores. Segundo o StatCounter, atualmente cerca de 3,65% dos usuários da Internet utilizam o Firefox, sendo o terceiro navegador mais utilizado no mundo, atrás do Google Chrome e do Safari.</p></section>
            
            <h3>Microsoft Edge</h3>
            <section><p>O Microsoft Edge é um navegador da internet desenvolvido pela Microsoft. Foi lançado pela primeira vez para Windows 10 e Xbox One em 2015, depois para Android e iOS em 2017, para macOS, e distribuições Linux, como Ubuntu, Fedora e OpenSUSE e em suas derivações em 2020. Ele é o sucessor do Internet Explorer, atuando como o novo navegador padrão de internet da Microsoft.</p>
            <p>Originalmente desenvolvido com os próprios mecanismos EdgeHTML e Chakra da Microsoft, em 2019 o Edge foi reconstruído como um navegador baseado em Chromium, usando os mecanismos Blink e V8. Como parte dessa alteração (codinome Anaheim), a Microsoft disponibilizou as versões prévias do Edge baseado em Chromium para o Windows 7, 8, 8.1 e macOS, além do Windows 10. A Microsoft lançou a primeira versão do Edge baseada em Chromium em 15 de janeiro de 2020.</p></section>
        </article>
    </main>
    <footer>Autor: Andrey Silva
        <a href="#">Andy@gmail.com</a>
    </footer>
</body>
</html>